force-app/main/default/flows/Account_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_description_equal_to_now</name>
        <label>Is description equal to now?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Update_to_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>No - Update to Now</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_description_equal_to_now</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
